div {
  width: 40%;
  border: 1px dashed #000;
  height: 350px;
  background: white;
  margin: auto;
  margin-top: 25px;
  padding: 10px;
}

input {
  float: right;
}

textarea {
  resize: none;
  display: block;
  margin: auto;
}

input[type="submit"]{
  position: absolute;
  margin-top: 15px;
  width: 200px;
  left: 43%;
}
